/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #f3f5f7;
  /*width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  padding: 50px;*/
}
